<div id="firstdiv" class="container mt-5" *ngIf="project">
    <div *ngIf="cover" class="container">
        <img class="header" style="width: 100%; max-height: 350px;" [src]="getSrc(cover)">
        <!--FOTO DE CAPA AQUI-->
        <div style="z-index: 1; margin-top:-150px; margin-bottom: 75px;">
            <h1>{{project.nome}}</h1>

            <button *ngIf="role === 'Voluntario Interno' && candidato===false" type="button" class="btn btn-success " (click)="volunteer()">CANDIDATAR</button>
            <button *ngIf="candidato===true" type="button" class="btn btn-warning btn-lg" (click)="cancelVolunteer()">Cancelar
        Candidatura</button>
        </div>
    </div>
    <div *ngIf="!cover" class="container">

        <div>
            <h1>{{project.nome}}</h1>

            <button *ngIf="role === 'Voluntario Interno' && candidato===false" type="button" class="btn btn-success " (click)="volunteer()">CANDIDATAR</button>
            <button *ngIf="candidato===true" type="button" class="btn btn-warning btn-lg" (click)="cancelVolunteer()">Cancelar
        Candidatura</button>
        </div>
    </div>
    <div class="row container">
        <div id="info" class="container col-9">
            <br>
            <h3 style="text-align: justify;">{{project.resumo}}</h3>
            <hr>
            <div>
                <h3 style=" text-transform: uppercase;">Informações</h3>
                <div class="container m-2">
                    <div class="row">
                        <h3 class="col"> Inscrições até:</h3>
                        <h3 class="col">{{project.dataFechoInscricoes|date:'shortDate'}}</h3>
                    </div>
                    <div class="row">
                        <h3 class="col">Número de Vagas:</h3>
                        <h3 class="col">{{project.vagas}}</h3>
                    </div>
                    <div class="row">
                        <h3 class="col">Formação Necessária:</h3>
                        <div>
                            <div class="col row" *ngFor="let f of project.formacoesNecessarias">
                                <h3 class="row">{{f}} </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h3 class="col"> Contactos:</h3>
                        <div class="col">
                            <div class="col row" *ngFor="let c of project.contactos">
                                <h3 class="row">{{c.contacto}} |</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="project.areasInteresse">
                        <h3 class="col"> Areas de Interesse:</h3>
                        <div class="col">
                            <div class="col row" *ngFor="let a of project.areasInteresse">
                                <h5 class="badge badge-primary" id="areasInteresse">{{a}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row justify-content-center">
                <button *ngIf="role === 'Voluntario Interno' && candidato===false" type="button" class="btn btn-success btn-lg" id="botao2" (click)="volunteer()">CANDIDATAR</button>
                <button *ngIf="candidato===true" type="button" class="btn btn-warning btn-lg" (click)="cancelVolunteer()">Cancelar Candidatura</button>
            </div>
            <div class="container">

                <div class="row">
                    <div *ngIf="fotos" class="overflow-auto" style="orientation: horizontal;">
                        <div *ngFor="let foto of fotos">
                            <img class="thumbnail" [src]="getSrc(foto)">
                        </div>
                    </div>

                </div>


            </div>






        </div>
        <div id="comentarios" class="container col-3">
            <!--COMENTARIOS AQUI-->
            <br>
            <h2 id="titulo2">Comentários</h2>
            <h3>comentario blabla</h3>
        </div>
    </div>
</div>