/* You can add global styles to this file, and also import other style files */

* {
    font-family: Roboto, Open-Sans, Arial;
}
h1,h2,h3{
   text-transform: capitalize;
}
*::selection{
  background-color: #8e7dbed2;
}
