<div id="carouselExampleIndicators" class="carousel slide mt-5" data-ride="carousel">
  <div class="carousel-inner" id="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block" style="max-height: 300px; width: 100%;" src="assets/img/carousel/slide1.jpg"
        alt="First slide">
    </div>
    <div *ngFor="let foto of fotos" class="carousel-item ">
      <img class="d-block" style="max-height: 300px; width: 100%;" [src]="getSrc(foto.id)">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container mt-5 mb-5" *ngIf="project1&&project2&&project3">
  <h1 class="text-center"> Projetos Mais Populares</h1>

  <div class="row mt-5 p-5 d-flex justify-content-center">

    <mat-card class="col example-card " *ngIf="project1">
      <img mat-card-lg-image style="border-radius:50%" [src]="getSrc(project1.fotoCapaId)">
      <mat-card-header>
        <mat-card-title>{{project1.nome}}</mat-card-title>
        <mat-card-subtitle>{{project1.resumo}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content> <span *ngFor="let keyword of project1.palavrasChave"
          class="badge badge-secondary">{{keyword.nome}}</span></mat-card-content>

      <span *ngFor="let areaOfInterest of project1.areasInteresse" class="badge badge-success">{{areaOfInterest}}</span>
      <mat-card-actions class="text-center"><button mat-raised-button color="primary"
          [routerLink]="'/projects/'+project1._id">Ver
          Mais</button>

      </mat-card-actions>

    </mat-card>

    <mat-card class="col example-card" *ngIf="project2">
      <img mat-card-lg-image style="border-radius:50%" [src]="getSrc(project2.fotoCapaId)">
      <mat-card-header>
        <mat-card-title>{{project2.nome}}</mat-card-title>
        <mat-card-subtitle>{{project2.resumo}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content> <span *ngFor="let keyword of project2.palavrasChave"
          class="badge badge-secondary">{{keyword.nome}}</span></mat-card-content>

      <span *ngFor="let areaOfInterest of project2.areasInteresse" class="badge badge-success">{{areaOfInterest}}</span>
      <mat-card-actions class="text-center"><button mat-raised-button color="primary"
          [routerLink]="'/projects/'+project2._id">Ver
          Mais</button>

      </mat-card-actions>

    </mat-card>

    <mat-card class="col example-card" *ngIf="project3">
      <img mat-card-lg-image style="border-radius:50%" [src]="getSrc(project3.fotoCapaId)">
      <mat-card-header>
        <mat-card-title>{{project3.nome}}</mat-card-title>
        <mat-card-subtitle>{{project3.resumo}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content> <span *ngFor="let keyword of project3.palavrasChave"
          class="badge badge-secondary">{{keyword.nome}}</span></mat-card-content>

      <span *ngFor="let areaOfInterest of project3.areasInteresse" class="badge badge-success">{{areaOfInterest}}</span>
      <mat-card-actions class="text-center"><button mat-raised-button color="primary"
          [routerLink]="'/projects/'+project3._id">Ver
          Mais</button>

      </mat-card-actions>

    </mat-card>


  </div>
</div>
<div class="container d-flex justify-content-center"><button class="text-center" color="accent" [routerLink]="'/projects/'"
    mat-raised-button>Ver Projetos
    Existentes</button>
</div>
