<h1>Aprovar Projetos</h1>
<div *ngIf="projectTable.length > 0;else elseBlock">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome do Projeto</th>
        <th scope="col">Resumo</th>
        <th scope="col">Responsavel</th>
        <th scope="col">Data de Realização</th>
        <th scope="col">Inscrições Restringidas</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of projectTable; let i = index">
        <td>{{ entry.project.nome }}</td>
        <td>{{ entry.project.resumo }}</td>
        <td>{{ entry.nome }}</td>
        <td>{{ entry.project.dataComeco }}</td>
        <td>{{ entry.project.restringido? 'Sim': 'Não' }}</td>

        <button class="btn btn-success col-sm-4 button-spacing"
          (click)="avaliarProjeto(entry.project._id, i,entry.email,'Aprovado')">
          <i class="fas fa-thumbs-up"></i>
        </button>
        <button class="btn btn-danger col-sm-4 button-spacing"
          (click)="avaliarProjeto(entry.project._id, i,entry.email, 'Recusado')">
          <i class="fas fa-thumbs-down"></i>
        </button>
        <a class="btn btn-light col-sm-4 button-spacing" [routerLink]="'/projects/'+entry.project._id">
          <i class="far fa-eye"></i>
        </a>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #elseBlock>
  <div class="row justify-content-center">
    <h1>Não existem projetos por avaliar</h1>
  </div>

</ng-template>
