<div class="row mt-5 d-flex justify-content-center">
  <div class="col-md-5 m-auto shadow-sm p-3 mb-5 bg-white rounded">
    <form [formGroup]="formIPS" class="example-form">
      <div>
        <mat-form-field class="example-full-width">
          <mat-label for="email">Email </mat-label>
          <input type="email" matInput id="email" name="email" class="form-control" placeholder="Enter Email"
          [formControl]="email" />
          <mat-error *ngIf="email.hasError('required')">O email é um campo obrigatório</mat-error>
          <mat-error *ngIf="email.hasError('email')">Este campo necessita de ser um email</mat-error>
        </mat-form-field>
      </div>

      <button type="submit" mat-raised-button color="primary" style="left: 5rem;" (click)="postData()">
        Enviar email com password
      </button>
      </form>
      </div>
</div>



