<div class="container">
<h1 id="faq">FAQ'S</h1>
</div>

<div>
  
      <div id="addbutton" >
        <button mat-icon-button color="primary" aria-label="Example icon button with a plus one icon" (click)="addFaq()" data-toggle="modal" data-target="#exampleModal" >
          <mat-icon>add</mat-icon> Adicionar
        </button>
      </div>
   
  <mat-accordion>
    <div *ngFor="let faq of faqs; let i = index" [attr.data-index]="i" >
      <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false" (click)="getFaqId(i)">
        
        <mat-expansion-panel-header>
          <div *ngIf="user.tipoMembro === 'Gestor'">
            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" (click)="deleteFaq(i)">
              <mat-icon>highlight_off</mat-icon>
            </button>
          </div>
          
          <mat-panel-title>
            {{faq.pergunta}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{faq.resposta}}</p>
        
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" >
        <h5 class="modal-title" id="exampleModalLabel">{{faqs[index]}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>