<h1>Aprovar Utilizadores Externos</h1>
<div id="divCenter">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let utilizador of utilizadores; let i = index">
        <td>{{utilizador.nome}}</td>
        <td>{{utilizador.email}}</td>
        <div class="container">
          <div class="row row-cols-5">
            <div class="col" id="divButton">
              <button class="btn btn-success"
                (click)="avaliarUtilizador(utilizador,'Aprovado')"><i class="fas fa-thumbs-up"></i></button>
            </div>
            <div class="col" id="divButton">
              <button class="btn btn-danger"
                (click)="avaliarUtilizador(utilizador,'Recusado')"><i class="fas fa-thumbs-down"></i></button>
            </div>
          </div>
        </div>
      </tr>
    </tbody>
  </table>

</div>




