<div class="d-flex mt-3 flex-wrap">
  <div *ngFor="let sondagem of sondagens; let i = index" [attr.data-index]="i" class="card">
    <div class="card-body">
      <h3 class="card-title">{{sondagem.nome}}</h3>
      <button (click)="selectIndex(i)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Responder</button>
    </div>
  </div>
</div>

<!--modals-->
<form>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel" >{{sondagens[selectedIndex].descricao}}</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" >
            <div class="form-check">
              <ul>
                <li *ngFor="let opcao of sondagens[selectedIndex].opcoes; let o = index" [attr.data-index]="o">
                  <input (click)="getSe lectedIndex(o)" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                      {{opcao.opcao}}
                  </label>
                </li>
            </ul>
            </div>
            <div class="form-check ">
              <ul>
                <li>
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" (click)="onCheck()">
                  <label class="form-check-label" for="defaultCheck1">
                    Outro
                </label>
                </li>
              </ul>
            </div>
            <div class="m-2">
              <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" placeholder="Indique outra razão" rows="3" *ngIf="valor" #otherReason></textarea>
            </div>
        </div>

        <div class="modal-footer" >
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" (click)="onSubmit(otherReason.value)">Submeter</button>
        </div>
      </div>
    </div>
  </div>
</form>
