<div class="d-flex mt-3 flex-wrap">
  <div (click)="openProject(i)" *ngFor="let project of projects; let i = index" [attr.data-index]="i" class="card mb-2">
    <img class="card-img-top" src="https://higuma.github.io/bootstrap-4-tutorial/img/286x180.svg" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">{{project.nome}}</h2>
      <p class="card-text">{{project.resumo}}</p>
    </div>
  </div>
  <div *ngIf="noProjects">
    Não tem projetos favoritos, explore os projetos existentes <a [routerLink]="['/projects']" >aqui</a>
  </div>
</div>
