<h1>Criar Projeto</h1>
<mat-horizontal-stepper labelPosition="bottom">
  <mat-step label="Informações Do projeto" [stepControl]="formInfo">
    <div class="row">
      <div class="col-md-8">
        <form [formGroup]="formInfo" autocomplete="off">
          <div class="row">
            <div class="col-md-5">
              <mat-form-field style="width: 100%; margin-left: -15px;">
                <mat-label for="Nome">Nome</mat-label>
                <input type="text" id="nome" name="hidden" class="form-control"
                  placeholder="Introduza o nome do projeto" formControlName="nome" matInput />
                <mat-error *ngIf="nome.hasError('required')">O nome é um campo obrigatorio</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <mat-form-field style="width: 70%;">
              <mat-label for="resumo">Resumo</mat-label>
              <textarea id="resumo" name="resumo" class="form-control"
                placeholder="Introduza um pequeno resumo do projeto" formControlName="resumo" matInput></textarea>
              <mat-error *ngIf="resumo.hasError('required')">O resumo é um campo obrigatorio.</mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field style="width: 40%;">
              <mat-label for="nrVagas">Quantas vagas serão disponibilizadas?</mat-label>
              <input type="number" id="nrVagas" name="nrVagas" class="form-control" matInput
                formControlName="nrVagas" />
              <mat-error *ngIf="nrVagas.hasError('required')">O numero de vagas é um campo obrigatorio.</mat-error>
              <mat-error *ngIf="nrVagas.hasError('min')">
                O numero de vagas tem de ser maior que 0
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col">
              <mat-slide-toggle formControlName="necessarioFormacao" color="primary">O voluntario necessita de formação?
              </mat-slide-toggle>
              <div class="form-group" *ngIf="this.isFormacaoNecessaria.value">
                <div class="col-md-6 center-column">
                  <mat-form-field>
                    <mat-label>Formacao</mat-label>
                    <mat-select [formControl]="formacao" multiple>
                      <mat-option *ngFor="let formacao of formacoes" [value]="formacao">{{ formacao }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-slide-toggle formControlName="restringido" color="primary">
                Quer escolher os voluntarios que irão participar no projeto?
              </mat-slide-toggle>
            </div>
          </div>
          <!-- </div> -->

          <div class="form-group" style="margin-left: -15px;">
            <label for="areas">Areas de Interesse:</label>
            <ul class="col-lg-10 list-unstyled" style="column-count: 2;">
              <li id="lista" *ngFor="let control of areasArray.controls; let i = index">
                <div class="row d-flex justify-content-between">
                  <mat-checkbox labelPosition="after" class="col-md-5" [formControl]="control"
                    (change)="getSelectedAreas()" name="{{ areas[i] }}" color="primary">{{ areas[i] }}</mat-checkbox>
                </div>
              </li>
            </ul>
          </div>
          <div class="form-group">

            <mat-form-field class="big-input">
              <mat-label for="gestoremail">Adicionar Gestor</mat-label>
              <input type="text" matInput placeholder="Introduza o email do sub-gestor" class="form-control"
                id="gestoremail" name="gestoremail" formControlName="gestoremail" [matAutocomplete]="autoGestor" />
              <mat-autocomplete #autoGestor="matAutocomplete">
                <mat-option *ngFor="let email of filteredEmails | async" [value]="email">
                  {{ email }}
                </mat-option>
              </mat-autocomplete>
              <button *ngIf="!gestorEmail.invalid && gestorEmail.value !== ''" mat-icon-button color="primary" style=" height:48px !important;
              width:48px !important;" matSuffix (click)="gestoresEscolhidos()">
                <mat-icon style="font-size: 35px;">add_box</mat-icon>
              </button>
              <mat-error *ngIf="gestorEmail.invalid">Porfavor insira um email que está na lista</mat-error>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="col-sm-3">
        <div class="container" style="height: 30%; position: static;">
          <div class="container-sm row mb-5 d-flex justify-content-center">
            <img [src]="imgUrl" style="max-width:150px" *ngIf="imgUrl" #image>
          </div>
          <form class="d-flex justify-content-center">
            <!-- <div class="col-sm-3"> -->
            <input style="display: none;" type="file" accept="image/*" (change)="onFileSelected($event.target.files)"
              #fileInput />
            <button mat-raised-button color="primary" (click)="fileInput.click()">
              Escolha uma foto de capa <i class="far fa-image"></i>
            </button>
            <!-- </div> -->
          </form>
        </div>
        <div class="container" style="top: 30.9rem; position: absolute;">
          <button type="button" color="primary" data-toggle="modal" data-target="#exampleModal"
             mat-raised-button>
            Mostrar Gestores adicionados
          </button>
        </div>
      </div>
    </div>
    <button class="next-step" color="primary" mat-raised-button matStepperNext>
      Proximo Passo
    </button>
  </mat-step>
  <mat-step label="Datas e Horarios" [stepControl]="formDatas">
    <form [formGroup]="formDatas">
      <mat-slide-toggle formControlName="recorrente" color="primary">O projeto é recorrente?</mat-slide-toggle>
      <div class="form-group" *ngIf="this.recorrente.value">
        <label for="XemXtempo">O projetdo devera occorrer de quanto em quanto tempo?</label>
        <div class="row">
          <div class="col-md-2">
            <input type="text" id="XemXtempo1" name="XemXtempo1" class="form-control center-column"
              formControlName="XemXtempo1" />
          </div>
          <div class="col-sm-1">
            <p>em</p>
          </div>
          <div class="col-md-2">
            <input type="text" id="XemXtempo2" name="XemXtempo2" class="form-control" formControlName="XemXtempo2" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-5">
            <mat-form-field>
              <mat-label>Data de Comeco do projeto</mat-label>
              <input matInput [matDatepicker]="dataComeco" [min]="minDate" formControlName="dataComeco"
                (dateChange)="setDataComeco()" />
              <mat-datepicker-toggle [for]="dataComeco" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #dataComeco></mat-datepicker>
              <mat-error>A Data de inicio é requirida</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-5" *ngIf="comeco">
            <mat-form-field>
              <mat-label>Data de Termino do Projeto</mat-label>
              <input matInput [matDatepicker]="dataTermino" [min]="comeco" formControlName="dataTermino"
                (dateChange)="calculateDaysBetween()" />
              <mat-datepicker-toggle [for]="dataTermino" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #dataTermino></mat-datepicker>
              <mat-error>A Data de Termino é requirida</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <span *ngIf="_datesSet">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Fecho de inscrições</mat-label>
            <input matInput [matDatepicker]="dataFechoInscricoes" [min]="criacao" [max]="comeco"
              formControlName="dataFechoInscricoes" />
            <mat-datepicker-toggle [for]="dataFechoInscricoes" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #dataFechoInscricoes></mat-datepicker>
            <mat-error>A Data do fecho das inscricoes é requirida</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field>
                <mat-label>Atividades:</mat-label>
                <mat-select formControlName="diaAtividade">
                  <mat-option *ngFor="let date of daysBetween" [value]="date">{{ date.getFullYear() }}/{{ date.getMonth() + 1 }}/{{
                    date.getDate()
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="alert alert-danger" *ngIf="!daySelected">Porfavor escolha o dia que pretende fazer as
                atividades</div>
            </div>
            <div class="col-md-8">
              <button id="add-atividade" class="btn btn-primary" (click)="addAtividade()">
                Adicionar Atividade
              </button>
            </div>
          </div>

          <div formArrayName="atividadesArr">
            <div *ngFor="let atividade of atividadesArr.controls; let i = index" formGroupName="{{ i }}">
              <div class="row">
                <div class="col-sm-4">
                  <label class="col-sm-2">Atividade</label>
                  <input class="form-control" id="descricao" type="text" formControlName="descricao" />
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="col-sm-2">Horas:</label>
                    <input class="form-control" id="dataAcontecimento" type="time" formControlName="horas" />
                  </div>
                </div>
                <div class="col-sm-4">
                  <button class="btn btn-add-gestor remove-gestor" (click)="removerAtividade(i)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>

      <button type="submit" mat-raised-button color="primary" style="left: 50%;width: 20%;" (click)="postData()">
        Submeter
      </button>
    </form>
  </mat-step>
</mat-horizontal-stepper>

<!-- Modals -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Gestores Adicionados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Email</th>
              <th scope="col">Numero de Telefone</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gestor of gestores; let i = index">
              <th scope="row">{{ i }}</th>
              <td>{{ gestor.nome }}</td>
              <td>{{ gestor.email }}</td>
              <td>{{ gestor.numeroTelefone }}</td>
              <td>
                <button class="btn remove-gestor" (click)="removerGestor(i)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">
          Fechar
        </button>
        <button type="button" class="btn btn-primary" (click)="showGuardarAlert()" data-dismiss="modal">Guardar Alterações</button>
      </div>
    </div>
  </div>
</div>