
<div class="container">
    <div class="row">
        <div class="col-5">
            <h1 class="text-center" id="contacts">Contactos</h1>

                <div class="container">
                    <div class="row">
                      <div class="col" id="nome">Assuntos Académicos:</div>
                      <div class="col">+351 265 709 470</div>
                      <div class="w-100"></div>
                      <div class="col" id="nome">Outros Assuntos:</div>
                      <div class="col">+351 265 548 820</div>
                    </div>
                  </div>

            <div id="morada">
                <p>Campus do IPS - Estefanilha, 2910-761 Setúbal </p>
            </div>
        </div>
        <div class="col-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3121.50689610856!2d-8.84097268466064!3d38.522081979630265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1937b2c60f8f47%3A0xa0df10aa0caa2efa!2sInstituto%20Polit%C3%A9cnico%20de%20Set%C3%BAbal!5e0!3m2!1spt-PT!2spt!4v1594328498645!5m2!1spt-PT!2spt" width="600" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>
