<div class="container p-5 m-10 ">
  <h1>{{user.nome}}</h1>

  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item "><a class="nav-link active" href="#info" data-toggle="tab">Informação</a></li>
      <li class="nav-item"><a class="nav-link" href="#project" data-toggle="tab">Projetos</a></li>
      <li class="nav-item"><a class="nav-link" href="#question" data-toggle="tab">Questionarios</a></li>
    </ul>
    <div class="tab-content" id="tabs">
      <div class="tab-pane container m-5 " id="info">
        <h2>Informações</h2>
        <div class="container p-5 m-10 d-flex justify-content-between">
          <div class="container ">
            <div *ngFor="let attr of userInfo">
              <div class="row mb-2">
                <label class="col">
                  {{attr.key}}
                </label>
                <label class="col">
                  {{attr.value}}
                </label>
              </div>
            </div>

            <button class="btn btn-primary col" [routerLink]="['/editProfile']"> Editar Informações <i
                class="far fa-edit"></i>

            </button>
          </div>
          <div class="container">
            <div class="container-sm row mb-5 d-flex justify-content-center">
              <img class="img-thumbnail" style="max-width:150px;width:100%" #image>
            </div>
            <form class="d-flex justify-content-around">
              <input style="display: none" type="file" accept="image/*" (change)="onFileChanged($event)" #fileInput>
              <button class="btn btn-dark " (click)="fileInput.click()">Escolher Ficheiro <i
                  class="far fa-image"></i></button>
              <button class="btn btn-warning " (click)="onUpload()">Upload <i class="fas fa-arrow-circle-up"></i>
              </button>
            </form>

          </div>

        </div>
        <hr>
        <div>
          <div class="d-flex align-items-center">
            <h2>Areas de Interesse</h2> <button class="btn btn-primary" (click)="alterAreasInteresse()" #editAreas>
              Editar <i class="far fa-edit"></i></button>
          </div>
          <form [formGroup]="form">
            <div>
              <ul class="m-5 col-lg-10 list-unstyled" style="column-count: 2;">
                <li *ngFor="let control of areasArray.controls; let i = index" #checkboxes>
                  <div>
                    <div class="row">
                      <mat-checkbox labelPosition="after" class="col-md-5" [formControl]="control"
                        (change)="getSelectedAreas()" id="{{ areas[i] }}">{{ areas[i] }}</mat-checkbox>

                    </div>
                  </div>
                </li>
                <!-- </div> -->
              </ul>
            </div>

            <button style="display: none;" class="btn btn-success" type="submit" (click)="saveAreasInteresse()"
              #saveAreas> Guardar
              Alterações <i class="far fa-edit"></i></button>
          </form>
        </div>
      </div>
      <div class="tab-pane container p-5 m-10 " id="project">
        <div class="container d-flex justify-content-between">projetos component</div>
      </div>
      <div class="tab-pane container p-5 m-10 " id="question">
        <div class="container d-flex justify-content-between">questionario componet </div>
      </div>
    </div>


  </div>
