<div class="container p-5 m-10 ">
  <h1>{{user.nome}}</h1>

  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item "><a class="nav-link active" href="#info" data-toggle="tab">Informação</a></li>
      <li class="nav-item"><a class="nav-link" href="#project" data-toggle="tab">Projetos</a></li>
      <li class="nav-item"><a class="nav-link" href="#question" data-toggle="tab">Questionarios</a></li>
    </ul>
    <div class="tab-content" id="tabs">
      <div class="tab-pane container p-5 m-10 " id="info">
        <div class="container d-flex justify-content-between">
          <div class="container ">
            <div *ngFor="let attr of userInfo">
              <div class="row mb-2">
                <label class="col">
                  {{attr.key}}
                </label>
                <label class="col">
                  {{attr.value}}
                </label>
              </div>
            </div>

            <button class="btn btn-primary col" [routerLink]="['/editProfile']"> Editar Informações</button>
          </div>
          <div class="container">
            <div class="container-sm">
              <img *ngIf="existsImage" src={{images.src}} class="img-thumbnail ">
            </div>
            <form>
              <input style="display: none" type="file" accept="image/*" (change)="selectImage($event)" #fileInput>
              <button class="btn btn-light" (click)="fileInput.click()">Select File</button>
              <button class="btn btn-warning" (click)="onSubmit()">Upload!</button></form>
            <!--  <div>
                <label for="image">Upload Image</label>
                <input type="file" id="image" name="image"  accept="image/*" value="" required>
              </div>
              <div>
                <button type="submit">Submit</button>
              </div>-->
          </div>
        </div>
      </div>
      <div class="tab-pane container p-5 m-10 " id="project">
        <div class="container d-flex justify-content-between">projetos component</div>
      </div>
      <div class="tab-pane container p-5 m-10 " id="question">
        <div class="container d-flex justify-content-between"> 
          <app-questionario></app-questionario> 
        </div>
      </div>
    </div>


  </div>
