<div class="container ">
  <h1>Sondagens</h1>

  <div>
    <mat-tab-group>
      <mat-tab label="Visualizar">
        <div class="container mt-5">
          <div class="d-flex mt-3 flex-wrap">
            <mat-card *ngFor="let sondagem of this.sondagens; let i = index" [attr.data-index]="i">
              <mat-card-header>
                <mat-card-title class="text-center">{{sondagem.titulo != undefined ? sondagem.titulo : 'Sem título'}}
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>
                  {{sondagem.descricao}}
                </p>
              </mat-card-content>
              <mat-card-actions class="text-center">
                <button mat-raised-button color="primary" class="m-2" (click)="pollClicked(i, $event)">Ver
                  dados</button>

                <button mat-raised-button color="warn" (click)="clickDeletePoll(i, $event)">Eliminar</button>
              </mat-card-actions>
            </mat-card>
            <div *ngIf="!sondagens">
              Não existem sondagens neste momento.
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Criar">
        <div class="container p-5 m-10" >
          <form [formGroup]="formSondagem">


            <div class="row form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Título</mat-label>
                <input matInput required nome-comp type="text" name="titulo" [formControl]="titulo" />
                <mat-error *ngIf="titulo.hasError('required') && titulo.touched">O título é um campo obrigatorio
                </mat-error>
              </mat-form-field>
            </div>


            <div class="row form-group">
              <mat-form-field class="example-full-width">
                <mat-label>Descrição</mat-label>
                <input matInput required nome-comp type="text" name="descricao" [formControl]="descricao" />
                <mat-error *ngIf="titulo.hasError('required') && titulo.touched">A descrição é um campo obrigatorio
                </mat-error>
              </mat-form-field>
            </div>

            <div class="row">
              <div class="col-md-8">

                <mat-form-field class="example-full-width">
                  
                      <mat-label>Número de Opções </mat-label>
                      <input matInput required nome-comp type="number" name="numberOptions" #numberOptions min="0" max="20"/>
                      <mat-error *ngIf="titulo.hasError('required') && titulo.touched">O número de opções é um campo obrigatorio
                      </mat-error>

                </mat-form-field>
                <button type="button" class="btn btn-secondary btn-circle" data-toggle="tooltip" data-placement="top"
                        title="A opção 'Outro' assim como o campo de texto para explicar uma opção serão
                        adicionados automaticamente"><i class="far fa-question-circle"></i>
                </button>
                <button (click)='createOption(numberOptions)' class="btn btn-info">Criar Opções</button>
                
              </div>
              

            </div>

            <div id="options">

            </div>

          </form>
          <div class="row">
            <div class="col-md-5" style="left: 32%;">
              <button mat-raised-button color="primary" (click)="onSubmit()">
                Submeter
              </button>
            </div>
          </div>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>